.si svg {
    height: 30px;
    width: auto;
    fill: white;
    transition: all .25s ease-in-out;
}

.si-icon-link:hover svg {
    fill: var(--accent-secondary);
}

/* .svg-icon {
    border:1px solid white;
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    margin-right:10px;
}
.svg-icon,.svg-icon path {
    transition:all .25s ease-in-out;
} */

/* a:hover .svg-icon {
    background:#ff5223;
    border-color:#ff5223;
} */

/* a:hover .svg-icon path {
    fill: white;
} */